
<ul class="page-sidebar-menu" th:fragment="left" xmlns:th="http://www.w3.org/1999/xhtml">

    <li>
        <div class="sidebar-toggler hidden-phone"></div>
    </li>
    <li>
        <!--<form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="查找1..." />
                <input type="button" class="submit" value=" " />
            </div>
        </form>-->
    </li>
    <li class="start active ">
        <a href="/index">
            <i class="icon-home"></i>
            <span class="title">首页</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">我的旅游</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="/list">旅游手册</a>
            </li>
            <li >
                <a href="/map4">拓扑图</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-bookmark-empty"></i>
            <span class="title">用户管理</span>
            <!--<span class="selected"></span>-->
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <!--<li class="active">-->
            <li >
                <a href="general.html">个人信息</a>
            </li>
            <li >
                <a href="ui_buttons.html">Buttons</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-table"></i>
            <span class="title">权限管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="form_layout.html">Form Layouts</a>
            </li>
            <li >
                <a href="form_samples.html">Advance Form Samples</a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span class="title">路线推荐</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="page_timeline.html">
                    <i class="icon-time"></i>
                    Timeline</a>
            </li>
            <li >
                <a href="page_coming_soon.html">
                    <i class="icon-cogs"></i>
                    Coming Soon</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:;">
            <i class="icon-folder-open"></i>
            <span class="title">4 Level Menu</span>
            <span class="arrow "></span>
        </a>

        <ul class="sub-menu">
            <li>
                <a href="javascript:;">
                    <i class="icon-cogs"></i>
                    Item 1
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="icon-user"></i>
                            Sample Link 1
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="icon-remove"></i> Sample Link 1</a></li>
                            <li><a href="#"><i class="icon-pencil"></i> Sample Link 1</a></li>
                            <li><a href="#"><i class="icon-edit"></i> Sample Link 1</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-user"></i>  Sample Link 1</a></li>
                    <li><a href="#"><i class="icon-external-link"></i>  Sample Link 2</a></li>
                    <li><a href="#"><i class="icon-bell"></i>  Sample Link 3</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-globe"></i>
                    Item 2
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="icon-user"></i>  Sample Link 1</a></li>
                    <li><a href="#"><i class="icon-external-link"></i>  Sample Link 1</a></li>
                    <li><a href="#"><i class="icon-bell"></i>  Sample Link 1</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-folder-open"></i>
                    Item 3
                </a>
            </li>
        </ul>
    </li>


    <li class="last ">
        <a href="charts.html">
            <i class="icon-bar-chart"></i>
            <span class="title">Visual Charts</span>
        </a>
    </li>
</ul>