<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试map2</title>
    <link href="../leaflet/leaflet.css" type="text/css" rel="stylesheet"/>
    <script src="../leaflet/leaflet.js"></script>
    <script src="../leaflet/leaflet.ChineseTmsProviders.js"></script>
    <script src="../js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
地址：<input type="text" id="address" >
<button type="button" onclick="ipaddress()">查询</button>
<div id="map" style="width: 100vw;height: 100vh">
</div>
<script>
    var nums = [];
    var jing = 38;
    var wei = 114;

    function ipaddress () {
        var address = $("#address").val();
        alert(address);
        $.ajax({
            type:"GET",
            url:"/getAddress", //访问的链接
            data:{address : address},
            dataType:"json",  //数据格式设置为jsonp
            jsonp:"callback",  //Jquery生成验证参数的名称
            success:function(data){  //成功的回调函数
                alert(data);
                jing = data[1];
                wei = data[0];
                alert("jing:"+jing+"  wei:"+wei)
            },
            error: function (e) {
                alert("error");
            }
        });

        var Gaode = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimgem = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimage = L.layerGroup([Gaodimgem, Gaodimga]);
        var baseLayers = {
            "高德地图": Gaode,
        }
        var map = L.map("map", {
            center: [jing, wei],//31.59, 120.29  [38, 114]
            zoom: 12,
            layers: [Gaode],  // layers: [normalm1],
            zoomControl: false
        });
        L.control.layers(baseLayers, null).addTo(map);
        L.control.zoom({
            zoomInTitle: '放大',
            zoomOutTitle: '缩小'
        }).addTo(map);
    }
    /**
     * 高德地图
     */
        var Gaode = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimgem = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
            maxZoom: 18,
            minZoom: 5
        });
        var Gaodimage = L.layerGroup([Gaodimgem, Gaodimga]);
        var baseLayers = {
            "高德地图": Gaode,
        }
        var map = L.map("map", {
            center: [jing, wei],//31.59, 120.29  [38, 114]
            zoom: 12,
            layers: [Gaode],  // layers: [normalm1],
            zoomControl: false
        });
        L.control.layers(baseLayers, null).addTo(map);
        L.control.zoom({
            zoomInTitle: '放大',
            zoomOutTitle: '缩小'
        }).addTo(map);

</script>
</body>
</html>
