<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="../js/china.js"></script>

</head>
<body>
    <h1>map</h1>
    <div id="main" style="width: 600px;height:400px;"></div>
</body>
<script>
    $(function () {
        var data111 = ['北京烤鸭', '炸酱面', '火锅', '饺子', '包子']
        var data222 = [100,80,60,30,20]
        var data23 = [];
        data23.push({
            "province": "四川",
            "meishi": data111,
            "num":data222
        })
        console.log("省"+data23[0].province+"  美食："+data23[0].meishi[0]+"  数量："+data23[0].num[0]);
    })

</script>

<script>

    var myChart = echarts.init(document.getElementById('main'));

    $.ajax({
        "url": "/ProMeishiTop",
        "async": false,
        "type": "get",
        "dataType": "json",
        "success": function (rs) {
            //rs  HashMap<省，List<5种美食>>
           /* data2.push({
                "province": name,
                "meishi": s1,
                "num":s2
            })*/
            //data.put()
            var data99 = [];
            if(rs != null){
                for(var key in rs) {
                    //console.log("键：" + key + ",值 ：{姓名："+ rs[key][0].meishi+"}");
                    var meishi = [];
                    var num = [];
                    for(var i=0;i<rs[key].length;i++){
                        //console.log("省："+key+"  美食："+rs[key][i].meishi+"  数量："+rs[key][i].num)
                        meishi.push(rs[key][i].meishi)
                        num.push(rs[key][i].num)
                    }
                    data99.push({
                        "province": key,
                        "meishi": meishi,
                        "num":num
                    })
                }
                /*for(var i=0;i<data99.length;i++){
                    //console.log("111省："+data99[i].province+" 美食："+data99[i].meishi[0]+"  数量："+data99[i].num[0])
                }*/

                function tooltipCharts() {
                    //四川 美食：1,2,3,4,5 数量1,2,3,4,5
                    console.log("222"+arguments[0]);
                    var data88 = [];
                    for(var i=0;i<data99.length;i++){
                        if(data99[i].province == arguments[0]){
                            console.log(data99[i].province +"=="+arguments[0])
                            data88 = data99[i];
                        }

                    }
                    var myChart = echarts.init(document.getElementById('tooltipBarId'));
                    var option = {
                        tooltip: {},
                        dataset: {
                            source: [data88.meishi,data88.num
                                //['meihsi','北京烤鸭', '炸酱面', '火锅', '饺子', '包子'],
                                //[ 'count',100, 80, 60, 40, 20, 10],
                            ]
                        },
                        xAxis: {
                            type: 'category',
                            interval: true,
                            axisLabel: {
                                rotate: 45
                            },
                            axisTick: {
                                show: false
                            }
                        },
                        yAxis: {},
                        color: ['#4FA8F9', '#F5A623'],
                        grid: {
                            show: true,
                            backgroundColor: '#FAFAFA',
                            left: 30,
                            right: 20,
                            top: 20
                        },
                        series: [{
                            type: 'bar',
                            smooth: true,
                            seriesLayoutBy: 'row',
                            barWidth: 10
                        }]
                    };
                    myChart.setOption(option);
                }

                option = {
                    visualMap: {
                        min: 0,
                        max: 1000,
                        //left: 'left',
                        right:"auto",
                        top: 'bottom',
                        text: ['高', '低'],
                        calculable: false,
                        orient: 'horizontal',
                        inRange: {
                            color: ['#e0ffff', '#006edd'],
                            symbolSize: [30, 100]
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        //position: 'top',//控制提示框的位置
                        padding: 0,
                        enterable: true,
                        transitionDuration: 1,
                        textStyle: {
                            color: '#000',
                            decoration: 'none',
                        },
                         position: function (point, params, dom, rect, size) {
                            return [point[0], point[1]];
                         },
                        formatter: function (params) {
                            console.log("33"+params)
                            var tipHtml = '';
                            tipHtml = '<div style="height:100px;width:400px;border-radius:5px;background:#fff;box-shadow:0 0 10px 5px #aaa">' +
                                '    <div style="height:50px;width:100%;border-radius:5px;background:#F8F9F9;border-bottom:1px solid #F0F0F0">' +
                                '        <span style="line-height:50px;margin-left:18px" id="city">' + params.name + '</span>' +
                                '        <span style="float:right;line-height:50px;margin-right:18px;color:#5396E3;cursor:pointer" onclick="mapTooltipClick();">点击查看详情</span>' +
                                '    </div>' +
                                '    <div id="tooltipBarId" style="height:200px;width:100%;border-radius:0 0 5px 0;background:#fff"></div>' +
                                '</div>';
                            setTimeout(function () {
                                tooltipCharts(params.name);
                            }, 0);
                            return tipHtml;
                        }
                    },
                    series: [{
                        name: 'iphone4',
                        type: 'map',
                        mapType: 'china',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true
                                }
                            }
                        },
                        data: [
                            {
                                name: '北京',
                                value: 100,
                                tipData: [300, 500]
                            },
                            {
                                name: '天津',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '上海',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '重庆',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '河北',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '河南',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '云南',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '辽宁',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '黑龙江',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '湖南',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '安徽',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '山东',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '新疆',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '江苏',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '浙江',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '江西',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '湖北',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '广西',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '甘肃',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '山西',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '内蒙古',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '陕西',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '吉林',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '福建',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '贵州',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '广东',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '青海',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '西藏',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '四川',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '宁夏',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '海南',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            /*{
                                name: '台湾',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },*/
                            {
                                name: '香港',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                            {
                                name: '澳门',
                                value: Math.round(Math.random() * 1000),
                                tipData: [Math.round(Math.random() * 1000), Math.round(Math.random() * 1000)]
                            },
                        ]
                    },]
                }

                myChart.on('mouseover', function (params) {
                    console.log("11"+params)
                    myChart.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0
                    });
                    myChart.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: params.dataIndex
                    });
                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: params.dataIndex,
                    });
                });
                myChart.setOption(option)

            }
        }
    })




</script>
</html>