<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:table-layout="http://java.sun.com/xml/ns/persistence/orm"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="../media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="../media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="../media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="../media/css/datepicker.css" />
	<link href="../media/css/jquery.fancybox.css" rel="stylesheet" />
	<link href="../media/css/search.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="../media/image/favicon.ico" />
	<!--分页样式-->
	<link href="../media/css/pagination.css" rel="stylesheet"  />
	<script src="../js/jquery.min.js" type="text/javascript"></script>
	<!--分页js-->
	<script src="../js/pagination.js"></script>
	<script	src="../layer/layer.js" type="text/javascript">	</script>
	<title>旅游游记分析系统</title>
	<style>
		td {white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
	</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<script>

    //获得所有的美食
    function MeishiAll(city1,currPage) {
        //根据城市获得该城市所有的美食
        $.ajax({
            "url": "/MeishiCityAll",
            "data":{"city1":city1,"currPage":currPage},
            "async": false,
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                if(data != null ){
                    var content = "";
                    for(var i=0;i<data.list.length;i++){
                        content += "<tr><td>"+data.list[i].id+"</td><td><a href='/getMeishiByid?id="+data.list[i].id+"&currPage=1'>"+data.list[i].meishi+"</a></td><td>"+data.list[i].city1+"</td><td>"+data.list[i].num+"</td></tr>"
                    }
                    $("#tb").html(content);

                    //寻找第二页的该城市的所有景点
                    count = data.totalCount;
                    var onPagechange = function(page){
                        console.log('当前点击页码',page);
                        MeishiAll(city1,page);
                    }
                    var obj = {
                        wrapid:'wrap4', //页面显示分页器容器id
                        total:count,//总条数
                        pagesize:10,//每页显示10条
                        currentPage:currPage,//当前页
                        onPagechange:onPagechange,
                        btnCount:7 //页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
                    }
                    pagination.init(obj);
                }

            }
        })
    }
    $(function () {
		//获取对象，将图片追加到元素中
		var meishi = '[[${meishi.meishi}]]'; //景点
		var id = '[[${meishi.id}]]';
		var city1 = '[[${meishi.city1}]]'
		//JingdianCityAll(city1,1);

        //找所有的景点
        MeishiAll(city1,1)


        var title = meishi+" 图片";
        $("#title1").append(title)
		$("#titlemeishi").html(meishi)
		var photo11 = '[[${meishi.photos}]]';
		if(photo11 != null){
		    var content35 = "";
		    var month3more = "";
		    if(photo11 == ""){
                content35 = "没有该美食的图片";
			}else{
                var photos = [];
                photos = photo11.split(',');
                var s = photos.length;
                var s1 = s;
                content35 +="<ul class='thumbnails'>";
                if(s > 8){
                    s = 8;
                }
                for(var i=0;i<s;i++){
                    if(s>4 && i%4==0){
                        content35 += "</ul>";
                        content35 +="<ul class='thumbnails'>"
                    }
                    //给图片加上超链接，可以显示大图
                    content35 += "<li class='span3'><a class='fancybox-button' data-rel='fancybox-button' title='"+meishi+"' href='"+photos[i]+"'>"+
                        "<img src='"+photos[i]+"' alt=''><span><em>"+meishi+"</em></span></a></li>";
                }
                content35 += "</ul>";
                if(s1 > 8){
                    //找到关于该景点的所有图片进行显示
                    month3more +="<a href='/MeishiPhotosByid?id="+id+"' style='float:right' class='btn green' >More <i class='m-icon-swapright m-icon-white'></i></a>";
				}
			}
            $("#content35").html(content35);
		    $("#content35").append(month3more);
		}

    })


</script>

<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top" th:include="head.html"></div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container row-fluid">
		<!-- BEGIN 左侧栏 -->
		<div class="page-sidebar nav-collapse collapse" th:include="left.html">
		</div>
		<!-- END 左侧栏 -->

		<!-- 页面 -->
		<div class="page-content">
			<!-- 自定义设置-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>portlet Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>

			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- 自定义窗口 -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>主题颜色</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected>Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed" selected >Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed" selected>Fixed</option>
										<option value="default" >Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- 自定义窗口 -->
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							美食推荐 <small>search results</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="../index/index.html">Home</a>
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="#">游记信息</a>
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="#">美食</a>
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#" id="titlemeishi"></a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">

					<div class="tabbable tabbable-custom tabbable-full-width">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab_1_2">美食游记</a></li>
							<!--<li><a data-toggle="tab" href="#tab_1_4">美食信息</a></li>-->
							<li><a data-toggle="tab" href="#tab_2_5">照片墙</a></li>
							<li><a data-toggle="tab" href="#tab_1_3">同城美食</a></li>

						</ul>

						<div class="tab-content">
							<div id="tab_1_2" class="tab-pane active">
								<div class="portlet-body" style="display: block;">
									<table class="table table-striped table-bordered table-advance table-hover" table-layout: fixed;>
										<thead>
										<tr>
											<th><i class="icon-briefcase"></i> ID</th>
											<th class="hidden-phone"><i class="icon-question-sign"></i> Title</th>
											<th><i class="icon-bookmark"></i> City</th>
											<th><i class="icon-bookmark"></i> Score</th>
										</tr>
										</thead>
										<tbody>

										<forEach th:each="item:${pageBean.list }" varStatus="status">
											<tr><!--class="span3"-->
												<td  th:text="${item.id }"></td>
												<td ><a th:href="@{'/detail?id='+${item.id }+'&city='+${item.city }}" th:text="${item.title }"></a></td>
												<td  th:text="${item.city }"></td>
												<td  th:text="${item.score }"></td>
											</tr>
										</forEach>
										</tbody>
									</table>
								</div>
								<div class="space5"></div>
								<center>
									<div class="box" id="wrap2"></div>
								</center>
								<script type="text/javascript">
                                    var id = '[[${id}]]'; //景点id
                                    var count = parseInt('[[${pageBean.totalCount}]]')
                                    var currPage = '[[${pageBean.currPage}]]'
                                    var pageSize = '[[${pageBean.pageSize}]]'
                                    var onPagechange = function(page){
                                        console.log('当前点击页码',page);
                                        window.location.href = "/getMeishiByid?currPage="+page+"&id="+id;//跳转链接
                                    }
                                    var obj = {
                                        wrapid:'wrap2', //页面显示分页器容器id
                                        total:count,//总条数
                                        pagesize:10,//每页显示10条
                                        currentPage:currPage,//当前页
                                        onPagechange:onPagechange,
                                        btnCount:9 //页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
                                    }
                                    pagination.init(obj);
								</script>
							</div>

							<div id="tab_1_3" class="tab-pane">
								<div class="portlet-body" style="display: block;">
									<table class="table table-striped table-bordered table-advance table-hover">
										<thead>
										<tr>
											<th><i class="icon-briefcase"></i> ID</th>
											<th class="hidden-phone"><i class="icon-question-sign"></i> 美食</th>
											<th><i class="icon-bookmark"></i> City</th>
											<th><i class="icon-bookmark"></i> Number</th>
										</tr>
										</thead>
										<tbody id="tb">

										</tbody>
									</table>
								</div>
								<div class="space5"></div>

								<center>
									<div class="box" id="wrap3"></div>
								</center>
								<!--<script type="text/javascript">
                                    var id = '[[${id}]]'; //景点id
                                    var count = parseInt('[[${pageBean.totalCount}]]')
                                    var currPage = '[[${pageBean.currPage}]]'
                                    var pageSize = '[[${pageBean.pageSize}]]'
                                    var onPagechange = function(page){
                                        console.log('当前点击页码',page);
                                        window.location.href = "/getJingdianByid?currPage="+page+"&id="+id;//跳转链接
                                    }
                                    var obj = {
                                        wrapid:'wrap3', //页面显示分页器容器id
                                        total:count,//总条数
                                        pagesize:10,//每页显示10条
                                        currentPage:currPage,//当前页
                                        onPagechange:onPagechange,
                                        btnCount:9 //页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
                                    }
                                    pagination.init(obj);
								</script>-->
							</div>
							<div id="tab_2_5" class="tab-pane">
								<!--在该页面加上每个月份的图片展示，分为四个大框-->
								<div class="row-fluid" >
									<div class="span12"><!--3-5月份-->
										<!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
										<div class="portlet box yellow">
											<div class="portlet-title">
												<div class="caption" id="title1"><i class="icon-cogs"></i></div>
												<div class="tools">
													<a href="javascript:;" class="collapse"></a>
													<a href="#portlet-config" data-toggle="modal" class="config"></a>
													<a href="javascript:;" class="reload"></a>
													<a href="javascript:;" class="remove"></a>
												</div>
											</div>
											<div class="portlet-body">
												<div class="row-fluid" id="month3">
													<div class="row-fluid search-images" id="content35"></div>
												</div>
											</div>
										</div>
										<!-- END INLINE NOTIFICATIONS PORTLET-->
									</div>
								</div>
								<!--<div class="row-fluid" >
									<div class="span12">&lt;!&ndash;6-8月份&ndash;&gt;
									&lt;!&ndash; BEGIN INLINE NOTIFICATIONS PORTLET&ndash;&gt;
										<div class="portlet box yellow">
											<div class="portlet-title">
												<div class="caption"><i class="icon-cogs"></i>6-8月份</div>
												<div class="tools">
													<a href="javascript:;" class="collapse"></a>
													<a href="#portlet-config" data-toggle="modal" class="config"></a>
													<a href="javascript:;" class="reload"></a>
													<a href="javascript:;" class="remove"></a>
												</div>
											</div>
											<div class="portlet-body">
												<div class="row-fluid" id="month6">
													<div class="row-fluid search-images" id="content68"></div>
												</div>
											</div>
										</div>
									&lt;!&ndash; END INLINE NOTIFICATIONS PORTLET&ndash;&gt;
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12">&lt;!&ndash;9-11月份&ndash;&gt;
									&lt;!&ndash; BEGIN INLINE NOTIFICATIONS PORTLET&ndash;&gt;
										<div class="portlet box yellow">
											<div class="portlet-title">
												<div class="caption"><i class="icon-cogs"></i>9-11月份</div>
												<div class="tools">
													<a href="javascript:;" class="collapse"></a>
													<a href="#portlet-config" data-toggle="modal" class="config"></a>
													<a href="javascript:;" class="reload"></a>
													<a href="javascript:;" class="remove"></a>
												</div>
											</div>
											<div class="portlet-body">
												<div class="row-fluid" id="month9">
													<div class="row-fluid search-images" id="content911"></div>
												</div>
											</div>
										</div>
									&lt;!&ndash; END INLINE NOTIFICATIONS PORTLET&ndash;&gt;
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12">&lt;!&ndash;12-2月份&ndash;&gt;
										&lt;!&ndash; BEGIN INLINE NOTIFICATIONS PORTLET&ndash;&gt;
										<div class="portlet box yellow">
											<div class="portlet-title">
												<div class="caption"><i class="icon-cogs"></i>12-2月份</div>
												<div class="tools">
													<a href="javascript:;" class="collapse"></a>
													<a href="#portlet-config" data-toggle="modal" class="config"></a>
													<a href="javascript:;" class="reload"></a>
													<a href="javascript:;" class="remove"></a>
												</div>
											</div>
											<div class="portlet-body">
												<div class="row-fluid" id="month12">
													<div class="row-fluid search-images" id="content122"></div>
												</div>
											</div>
										</div>
									&lt;!&ndash; END INLINE NOTIFICATIONS PORTLET&ndash;&gt;
									</div>
								</div>-->
								<div class="spac40"></div>
							</div>
						</div>
					<!--end tabbable-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="../media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="../media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="../media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="../media/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="../media/js/excanvas.min.js"></script>
	<script src="../media/js/respond.min.js"></script>
	<![endif]-->
	<script src="../media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="../media/js/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="../media/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="../media/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<script type="text/javascript" src="../media/js/bootstrap-datepicker.js"></script>
	<script src="../media/js/jquery.fancybox.pack.js"></script>
	<script src="../media/js/app.js"></script>
	<script src="../media/js/search.js"></script>
	<script>
		jQuery(document).ready(function() {
		   App.init();
		   Search.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>