<div class="navbar-inner" >
    <div class="container-fluid">
        <!-- LOGO -->
        <a class="brand" href="index"><img src="../media/image/logo.png" alt="logo"/></a>

        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <img src="../media/image/menu-toggler.png" alt="" />
        </a>

        <ul class="nav pull-right">
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" src="../media/image/avatar1_small.jpg" />
                    <!-- 设置用户名  th:text="${session.userbean.username }" }-->
                    <span class="username" id="user"></span>
                    <i class="icon-angle-down"></i>
                </a>
                <!-- 点击用户头像弹出的菜单 -->
                <ul class="dropdown-menu">
                    <li><a href="/UserInfo"><i class="icon-user"></i> 用户信息</a></li>
                    <li class="divider"></li><!-- 分隔线 -->
                    <li><a href="/login"><i class="icon-key"></i> 注 销</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $(function () {
        var user = '[[${session.user}]]'
        if(user == '' ){
            layer.alert('请先登录', {
                skin: 'layui-layer-molv' //样式类名
                , closeBtn: 0
            });
            setTimeout(function () {
                window.location.href = encodeURI("/login");
            },3000);
        }
    })

</script>