<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="../media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
   <!-- <link href="../media/css/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="../media/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>-->
    <link href="../media/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>

    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script	src="../layer/layer.js" type="text/javascript">	</script>

    <link rel="shortcut icon" href="../media/image/favicon.ico" />

    <title>旅游游记分析系统</title>
</head>

<script>
    $(function () {
        $.ajax({
            "url": "/getUsername",
            "async": false,
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                if (null != data && "" != data) {
                    document.getElementById("user").innerHTML = data.username;
                } else {
                    layer.alert('请先登录', {
                        skin: 'layui-layer-molv' //样式类名
                        , closeBtn: 0
                    });
                    setTimeout(function () {
                        window.location.href = encodeURI("/login");
                    },2000);
                }
            }
        });
    })
</script>

<body class="page-header-fixed">
<!--头部-->
<div class="header navbar navbar-inverse navbar-fixed-top" th:include="head.html">
</div>

<div class="page-container">

    <!-- 左边菜单栏 下-->
    <div class="page-sidebar nav-collapse collapse" th:include="left.html">
    </div>
    <!-- 左边菜单栏 上-->

    <!--主体区 -->
    <div class="page-content">


        <!--主页-->
        <div class="container-fluid">
            <!--页头-->
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">
                        <!--页头  仪表盘-->
                        首页 <small>statistics and more</small>
                    </h3>
                    <ul class="breadcrumb">
                        <!--当前页面的地址-->
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.jsp">首页</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                    </ul>
                </div>
            </div>
            <!-- 页头结束-->

            <div id="dashboard">
                <!-- 整个页面 -->
                <!-- 第一个大分区，里边四个小分区 -->
                <div class="row-fluid">
                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="icon-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    1349
                                </div>
                                <div class="desc">New Feedbacks</div>
                            </div>
                            <a class="more" href="#">
                                View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="icon-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">549</div>
                                <div class="desc">New Orders</div>
                            </div>
                            <a class="more" href="#">
                                View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 仪表盘 -->
                <div class="clearfix"></div>
                <!-- 分区三 -->
                <div class="row-fluid">
                    <!-- 分区三 图表一 -->
                    <div class="span6">

                        <div class="portlet box purple">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-calendar"></i>General Stats</div>
                                <div class="actions">
                                    <a href="javascript:;" class="btn yellow easy-pie-chart-reload"><i class="icon-repeat"></i> Reload</a>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="easy-pie-chart">
                                            <div class="number transactions"  data-percent="55"><span>+55</span>%</div>
                                            <a class="title" href="#">Transactions <i class="m-icon-swapright"></i></a>
                                        </div>
                                    </div>

                                    <div class="margin-bottom-10 visible-phone"></div>
                                    <div class="span4">
                                        <div class="easy-pie-chart">
                                            <div class="number visits"  data-percent="85"><span>+85</span>%</div>
                                            <a class="title" href="#">New Visits <i class="m-icon-swapright"></i></a>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-10 visible-phone"></div>
                                    <div class="span4">
                                        <div class="easy-pie-chart">
                                            <div class="number bounce"  data-percent="46"><span>-46</span>%</div>
                                            <a class="title" href="#">Bounce <i class="m-icon-swapright"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 分区四 -->
                    <div class="row-fluid">
                        <!-- 分区四 图表二 -->
                        <div class="span6">

                            <div class="portlet paddingless">
                                <div class="portlet-title line">
                                    <div class="caption"><i class="icon-bell"></i>Feeds</div>
                                    <!-- 工具栏 -->
                                    <div class="tools">
                                        <a href="" class="collapse"></a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                        <a href="" class="reload"></a>
                                        <a href="" class="remove"></a>
                                    </div>
                                </div>

                                <div class="portlet-body">
                                    <!-- 列表展示 并且有三个tab页面-->
                                    <div class="tabbable tabbable-custom">

                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1_1" data-toggle="tab">System</a></li>
                                            <li><a href="#tab_1_2" data-toggle="tab">Activities</a></li>
                                            <li><a href="#tab_1_3" data-toggle="tab">Recent Users</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1_1">
                                                <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
                                                    <ul class="feeds">
                                                        <!-- 列表第一行 -->
                                                        <li>
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-success">
                                                                            <i class="icon-bell"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc">
                                                                            You have 4 pending tasks.
                                                                            <span class="label label-important label-mini">
																			Take action
																			<i class="icon-share-alt"></i>
																			</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col2">
                                                                <div class="date">
                                                                    Just now
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab_1_2">
                                                <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                                    <ul class="feeds">
                                                        <li>
                                                            <a href="#">
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col1">
                                                                            <div class="label label-success">
                                                                                <i class="icon-bell"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cont-col2">
                                                                            <div class="desc">
                                                                                New user registered
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col2">
                                                                    <div class="date">
                                                                        Just now
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab_1_3">
                                                <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                                    <div class="row-fluid">
                                                        <div class="span6 user-info">
                                                            <img alt="" src="../media/image/avatar.png" />
                                                            <div class="details">
                                                                <div>
                                                                    <a href="#">Robert Nilson</a>
                                                                    <span class="label label-success">Approved</span>
                                                                </div>
                                                                <div>29 Jan 2013 10:45AM</div>
                                                            </div>
                                                        </div>
                                                        <div class="span6 user-info">
                                                            <img alt="" src="../media/image/avatar.png" />
                                                            <div class="details">
                                                                <div>
                                                                    <a href="#">Lisa Miller</a>
                                                                    <span class="label label-info">Pending</span>
                                                                </div>
                                                                <div>19 Jan 2013 10:45AM</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 页 -->
        </div>

        <div class="footer">
            <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"><font size="3">回到顶部</font></i>
			</span>
            </div>
        </div>

        <!-- 底部 -->

        <!-- JS -->
        <script src="../media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="../media/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery.cookie.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery.uniform.min.js" type="text/javascript" ></script>
        <script src="../media/js/jquery.vmap.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="../media/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
        <script src="../media/js/jquery.flot.js" type="text/javascript"></script>
        <script src="../media/js/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="../media/js/jquery.pulsate.min.js" type="text/javascript"></script>
        <script src="../media/js/date.js" type="text/javascript"></script>
        <script src="../media/js/daterangepicker.js" type="text/javascript"></script>
        <script src="../media/js/jquery.gritter.js" type="text/javascript"></script>
        <script src="../media/js/fullcalendar.min.js" type="text/javascript"></script>
        <script src="../media/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
        <script src="../media/js/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="../media/js/app.js" type="text/javascript"></script>
        <script src="../media/js/index.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->

        <script>
            jQuery(document).ready(function() {
                App.init(); // initlayout and core plugins
                Index.init();
                //Index.initJQVMAP(); // init index page's custom scripts
                //Index.initCalendar(); // init index page's custom scripts
                //Index.initCharts(); // init index page's custom scripts
                Index.initChat();
                Index.initMiniCharts();
                Index.initDashboardDaterange();
                //Index.initIntro();
            });
        </script>
    </div>
</div>
</body>
</html>