
<ul class="page-sidebar-menu" th:fragment="left" xmlns:th="http://www.w3.org/1999/xhtml">

    <li>
        <div class="sidebar-toggler hidden-phone"></div>
    </li>
    <li>
        <!--<form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="查找1..." />
                <input type="button" class="submit" value=" " />
            </div>
        </form>-->
    </li>
    <li class="start active ">
        <a href="/index">
            <i class="icon-home"></i>
            <span class="title">首页</span>
            <span class="selected"></span>
        </a>
    </li>

    <li class="">
        <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">游记分析图</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <!--<li >
                <a href="/travelMap">游记图</a>
            </li>-->
            <li ><!--找到景点所在的城市，展示城市的游记和景点列表，景点的照片墙-->
                <a href="/JingdianMap">景点图</a>
            </li>
            <li >
                <a href="/MeishiMap">美食图</a>
            </li>
            <li >
                <a href="/WupinMap">购物图</a>
            </li>

        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">游记信息</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="/TravelList?currPage=1&city1=Beijing">游记</a>
            </li>
            <li ><!--找到景点所在的城市，展示城市的游记和景点列表，景点的照片墙-->
                <a href="/JingdianList?currPage=1&city1=all">景点</a>
            </li>
            <li >
                <a href="/MeishiList?currPage=1&city1=all">美食</a>
            </li>
            <li >
                <a href="/WupinList?currPage=1&city1=all">购物</a>
            </li>
            <!--<li >
                <a href="/list">推荐手册</a>
            </li>-->
        </ul>
    </li>

    <li class="">
        <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span class="title">用户管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="/UserInfo">
                    <i class="icon-time"></i>
                    用户信息</a>
            </li>
            <li id="juese">
                <a href="/Userlist">
                    <i class="icon-cogs"></i>
                    用户管理</a>
            </li>
        </ul>
    </li>

</ul>

<script>
    $(function () {
        /*$(".page-sidebar-menu a").bind("click",function (e) {
            $(this).parent().siblings().removeClass("active")
            $(this).parent().addClass("active")
        })*/
        /*
        var user = '[[${session.user}]]';
        console.log("角色："+user)
        if(user != '' ){
        //if(user != null){
            //var juese1 = user.juese;
            var juese1 = '[[${session.juese}]]';
            console.log("角色："+juese1)
            if(juese1 != '管理员'){
                console.log("角色111："+juese1)
                $("#juese").css("display","none")
            }
        }
        else{
            layer.alert('请先登录111', {
                skin: 'layui-layer-molv' //样式类名
                , closeBtn: 0
            });
            setTimeout(function () {
                window.location.href = encodeURI("/login");
            },1000);
        }
        */
    })
</script>
