<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="14674104326342106375" />
    <link rel="dns-prefetch" href="//webresource.c-ctrip.com" />
    <link rel="dns-prefetch" href="//pic.c-ctrip.com" />
    <link rel="dns-prefetch" href="//images3.c-ctrip.com" />
    <link rel="dns-prefetch" href="//dimg04.c-ctrip.com" />
    <link rel="dns-prefetch" href="//dimg11.c-ctrip.com" />
    <link rel="dns-prefetch" href="//crm.ws.ctrip.com" />
    <link rel="dns-prefetch" href="//s.c-ctrip.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <title>携程旅行网官网:酒店预订,机票预订查询,旅游度假,商旅管理</title>
    <!-- InstanceBegin name="position" -->
    <link href="//webresource.c-ctrip.com/ResCRMOnline/R5/css/index/private_index.A_v3.css?ts=20181025_pro" rel="stylesheet" type="text/css" media="all" />
    <style id="headStyleId" type="text/css" media="all">
        .cui_nav li[id]:hover .cui_subnav_wrap{display:block;}
        .cui_nav li[id]:hover .cui_subnav_wrap{z-index:10;}
    </style>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>
<div class="mod-banner">
    <div class="pic_banner market-banner-wrap market-banner-wrap" id="allyesId">
        <div class="slide-banner" id="3f88e932-66d5-d66a-c647-dd5b7aa96043">
            <div class="slide-banner-cont" id="046d36ce-ea35-8373-2b9a-0ad8c676d4ec" style="z-index: 0; display: none;">
                <a href="http://pages.c-ctrip.com/scsj/2018/10/dyy1/index1.html?pushcode=IP_chnba101" target="_blank" id="a_046d36ce-ea35-8373-2b9a-0ad8c676d4ec">
                    <img src="https://dimg04.c-ctrip.com/images/700w0x000000lijlvD479_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="d35588cd-637d-b8b6-44b2-db19b5631c23" style="z-index: 0; display: none;">
                <a href="http://hotels.ctrip.com/events/2018zhongnanbandaoy1pc" target="_blank" id="a_d35588cd-637d-b8b6-44b2-db19b5631c23">
                    <img src="https://dimg04.c-ctrip.com/images/700m0x000000lgp81CCFD_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="d6a6e5f3-a1ac-e328-9832-d203bd9b3285" style="z-index: 0; display: none;">
                <a href="http://vacations.ctrip.com/vacation/marketing/index/qred" target="_blank" id="a_d6a6e5f3-a1ac-e328-9832-d203bd9b3285">
                    <img src="https://dimg04.c-ctrip.com/images/700e0x000000lelab6827_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="7176467b-3759-01eb-bf69-a3e7e799f779" style="z-index: 0; display: none;">
                <a href="https://pages.c-ctrip.com/scsj/2018/10/znqjp/index.html?pushcode=YX_znq33" target="_blank" id="a_7176467b-3759-01eb-bf69-a3e7e799f779">
                    <img src="https://dimg04.c-ctrip.com/images/700a0x000000l94md82B0_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="a9529f72-3db7-77f0-f2e4-7d4d0482f253" style="z-index: 0; display: none;">
                <a href="http://piao.ctrip.com/dest/t1412255.html" target="_blank" id="a_a9529f72-3db7-77f0-f2e4-7d4d0482f253">
                    <img src="https://dimg04.c-ctrip.com/images/70010x000000lf1g2B30B_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="b25e6981-5d82-72b8-cc94-d4dfe4c5cb59" style="z-index: 0; display: none;">
                <a href="http://vacations.ctrip.com/vacation/marketing/index/wqj" target="_blank" id="a_b25e6981-5d82-72b8-cc94-d4dfe4c5cb59">
                    <img src="https://dimg04.c-ctrip.com/images/700m0x000000lmn0p72FF_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="722692d6-6827-87dd-693e-50f5a8094d6f" style="z-index: 0; display: none;">
                <a href="http://hotels.ctrip.com/events/2018xinjiapoy1pc" target="_blank" id="a_722692d6-6827-87dd-693e-50f5a8094d6f">
                <img src="https://dimg04.c-ctrip.com/images/700f0v000000k3kwmE547_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="c8e13abc-5ed5-ae53-5023-8fcfc127e3bf" style="z-index: 0; display: none;">
                <a href="https://pages.c-ctrip.com/crptravel/pt/201810/new/register_cttip_index.html" target="_blank" id="a_c8e13abc-5ed5-ae53-5023-8fcfc127e3bf">
                <img src="https://dimg04.c-ctrip.com/images/700j0x000000l4gyw5874_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
            <div class="slide-banner-cont" id="7c18d6bb-7e51-0676-c1e3-57834e76b802" style="z-index: 1;">
                <a href="http://hotels.ctrip.com/events/beihaidaofusutehui.html" target="_blank" id="a_7c18d6bb-7e51-0676-c1e3-57834e76b802">
                <img src="https://dimg04.c-ctrip.com/images/700c0x000000lgksnA5B4_1920_340_17.jpg" class="slide-pic" width="1920" height="340"></a>
            </div>
        </div>
        <div class="dot-wrap" id="nav_3f88e932-66d5-d66a-c647-dd5b7aa96043" style=""><div class="dot-group">
        <a href="javascript:void(0);" class="dot" id="nav_046d36ce-ea35-8373-2b9a-0ad8c676d4ec" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_d35588cd-637d-b8b6-44b2-db19b5631c23" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_d6a6e5f3-a1ac-e328-9832-d203bd9b3285" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_7176467b-3759-01eb-bf69-a3e7e799f779" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_a9529f72-3db7-77f0-f2e4-7d4d0482f253" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_b25e6981-5d82-72b8-cc94-d4dfe4c5cb59" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_722692d6-6827-87dd-693e-50f5a8094d6f" style=""></a>
        <a href="javascript:void(0);" class="dot" id="nav_c8e13abc-5ed5-ae53-5023-8fcfc127e3bf" style=""></a>
        <a href="javascript:void(0);" class="dot dot-current" id="nav_7c18d6bb-7e51-0676-c1e3-57834e76b802" style=""></a>
    </div>
    </div>
    </div>
</div>

</body>

</html>